{
    "rules": {
        // 定数式による条件を注意
        "no-constant-condition" : 1,
        // JsDoc 構文の違反を注意
        "valid-jsdoc": [1, {
            "requireReturn": false
        }],
        // consoleメソッドを注意
        "no-console": 1,
        // alert メソッドを許可
        "no-alert": 0,
        // debugger メソッドを注意
        "no-debugger": 1,
        // 正規表現におけるスペースの利用を許可
        "no-regex-spaces": 0,
        // 二重引用符を警告、単一引用符を推奨
        "quotes": [1, "single"],
        // 非厳密等価演算子を、厳密等価演算子を推奨
        "eqeqeq": 1,
        // 連続スペースの許可
        "no-multi-spaces": 0,
        // スペース許可
        "key-spacing": 0,
        // ドット記法以外（ブランケット記法）を許可
        "dot-notation": 0,
        // strict の宣言を強制しない
        "strict": 0,
        // カンマ位置は末尾に強制
        "comma-style": [1, "last"],
        // カンマ前後のスペース自由化
        "comma-spacing": 0,
        // インデントスタイルは4スペースを推奨
        "indent": [1, 4],
        // キーと値の間のコロンのスペースは禁止、直後のスペースはする
        // ただしコロンは隣接する上下の行のものと同位置に揃える
        "key-spacing": [1, {
            "beforeColon": false,
            "afterColon" : true,
            "align"      : "colon"
        }],
        // 連続した空行を注意
        "no-multiple-empty-lines": [1, { "max": 1 }],
        // 関数呼び出しの際のスペースを注意
        "no-spaced-func": 1,

        /**
         * Backbone.js
         */
        // Backbone.Model.defaultsは任意に定義
        "backbone/model-defaults": 0,
        // Backboneオブジェクトのinitializeメソッドは最初に定義を強制
        "backbone/initialize-on-top": [1, {
            "View": ["el", "events", "url"],
            "Model": ["url"],
            "Collection": ["url", "model"]
        }],
        // Backbone において events がトップで定義されていないと注意
        // 第二引数は events より上で定義されてもよい例外要素
        "backbone/events-on-top": [1, ["tagName", "className", "el"]],
        // Backbone.Collection.model の定義を強制しない
        "backbone/collection-model": 0

    },

    /**
    * 定義済みグローバルオブジェクト
    */
    "globals": {
        "location": true,
        "$": true,
        "Backbone": true,
        "Marionette": true,
        "Mn": true,
        "is": true,
        "_": true,
        "JST": true
    },

    /**
    * eslint プラグイン
    */
    "plugins": [
        "backbone"
    ]
}